@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: 0 0% 97.6471%;
    --foreground: 0 0% 12.5490%;
    --card: 0 0% 98.8235%;
    --card-foreground: 0 0% 12.5490%;
    --popover: 0 0% 98.8235%;
    --popover-foreground: 0 0% 12.5490%;
    --primary: 16.6667 21.9512% 32.1569%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34.0541 100.0000% 85.4902%;
    --secondary-foreground: 16.2712 50.4274% 22.9412%;
    --muted: 0 0% 93.7255%;
    --muted-foreground: 0 0% 39.2157%;
    --accent: 0 0% 90.9804%;
    --accent-foreground: 0 0% 12.5490%;
    --destructive: 10.1639 77.8723% 53.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 84.7059%;
    --input: 0 0% 84.7059%;
    --ring: 16.6667 21.9512% 32.1569%;
    --chart-1: 16.6667 21.9512% 32.1569%;
    --chart-2: 34.0541 100.0000% 85.4902%;
    --chart-3: 0 0% 90.9804%;
    --chart-4: 34.5763 100.0000% 88.4314%;
    --chart-5: 16.5000 24.3902% 32.1569%;
    --sidebar: 0 0% 98.4314%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    --sidebar-background: 0 0% 98%;
  }

  .dark {
    --background: 0 0% 6.6667%;
    --foreground: 0 0% 93.3333%;
    --card: 0 0% 9.8039%;
    --card-foreground: 0 0% 93.3333%;
    --popover: 0 0% 9.8039%;
    --popover-foreground: 0 0% 93.3333%;
    --primary: 29.5082 100% 88.0392%;
    --primary-foreground: 183.1579 54.2857% 6.8627%;
    --secondary: 28.2353 17.5258% 19.0196%;
    --secondary-foreground: 29.5082 100% 88.0392%;
    --muted: 0 0% 13.3333%;
    --muted-foreground: 0 0% 70.5882%;
    --accent: 0 0% 16.4706%;
    --accent-foreground: 0 0% 93.3333%;
    --destructive: 10.1639 77.8723% 53.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 45 14.2857% 10.9804%;
    --input: 0 0% 28.2353%;
    --ring: 29.5082 100% 88.0392%;
    --chart-1: 29.5082 100% 88.0392%;
    --chart-2: 28.2353 17.5258% 19.0196%;
    --chart-3: 0 0% 16.4706%;
    --chart-4: 30.0000 17.8571% 21.9608%;
    --chart-5: 30 100% 87.8431%;
    --sidebar: 240 5.8824% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --sidebar-background: 240 5.9% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bd-full {
  border-width: 1px;
  overflow: hidden;
}

.bd-left {
  border-left: 1px;
}

.bd-right {
  border-right: 1px;
}

.bd-top {
  border-top: 1px;
}

.bd-bottom {
  border-bottom: 1px;
}

.bd {
  border-color: #000;
  border-style: solid;
}

.text-vert {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.green-signature {
  color: #c6af69;
}

.bg-green-signature {
  background-color: #c6af69;
}

html {
  font-feature-settings: normal;
  -webkit-text-size-adjust: 100%;
}
